*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  cursor: default;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
}
.container {
  width: 100%;
  overflow-x: hidden;
}
.contant {
  font-family: Arial, sans-serif;
}

/* ------navbar---------- */

.navbar {
  display: grid;
  background: #fff;
  gap: .2em;
  width: 100%;
  /* position: sticky !important;
  position: -webkit-sticky !important;  */

  position: fixed;
  top: 0 !important;
  left: 0;
  z-index: 9999;
  
}
.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: left;
  padding: 1em 2.3em;
  margin-top: .7em;
}
.logo a img {
  width: 100%;
  max-width: 113px;
}
.nav {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: right;
}
.nav_list {
  list-style: none;
  padding: 0;
  margin-right: 1.5em;
}
.nav_list_item {
  display: inline-block;
  margin: 0em .7em;
}
.nav_list_item a {
  color: #707070;
  cursor: pointer;
  text-decoration: none;
  font-size: .6em;
}
.nav_list_item:hover a {
  color: #000;
}
/* ----------------- nav heading ------------------- */
.nav_heading {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  font-size: 1.2em;
  line-height: 2em;
  color: #ec2028;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 80px;
}
.nav_heading p {
  position: relative;
  padding: 0em 1em;
}
.nav_heading p::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ec2028;
}

/* --------main---------- */

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
 }
 .aside {
 width: 50%;
 }
 
 .section {
   justify-self: left;
   width: 50%;
   display: flex;
   justify-content: left;
 }
/* form ------- */
.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 10% 20px 30px;
}
.label {
  width: 100%;
  color: #757575;
  font-weight: 700;
  font-size: 1em;
}
.form_top {
  display: grid;
}
.section_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1em;
}
.section_grid input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #cacaca;
  min-width: 265px;
  align-self: center;
}
.section_grid label {
  align-self: center;
}
.form_bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1em;
  z-index: 999;
}
.form_bottom .label {
  margin: 20px 0px 10px;
}
.section_flex {
  margin: 20px 0px 30px;
}
.section_flex input {
  margin-right: 5px;
}
.pay_btn {
  background-color: #ec2028;
  color: #fff;
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  margin: 0px 0px 10px;
  text-decoration: none;
}

/*----------------- footer---------- */

.footer_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px 0px;
  background-color: #000;
}
.top {
  justify-self: center;
  align-self: center;
}
.top img {
  width: 100%;
}
.footer_middle {
  display: grid;
  margin: 0em 2.5em;
  border-bottom: 1px solid #ccc;
  padding: 1.5em 0em;
}
.middle_list {
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.footer_list {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.first_item {
  font-size: .9em;
  margin-bottom: .8em;
}
.first_item a{
  text-decoration: none;
  color: #000;
}
.first_item a:hover {
  color: #ec2028;
}
.heading {
  font-size: 1.1em;
  margin-bottom: .8em;
  color: #9F9F9F;
}
.item {
  font-size: .8em;
  line-height: 1.6em;
  font-weight: 100;
  margin: .3em;

}
.item a{
  text-decoration: none;
  color: #000;
}
.item a:hover {
  color: #ec2028;
}
.middle_bottom {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.middle_bottom a {
  text-decoration: none;
  
}
.bottom_heading {
  color: #ec2028;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;

}
.bottom_heading span {
  cursor: pointer;
}
.social {
  margin-top: 50px;
  width: 100%;
}
.social_list {
  list-style: none;
  padding: 0px;
  text-align: center;
}
.social_list li {
  display: inline-block;
  font-size: 1.7em;
  padding-left: 1em;
}
.social_list a {
  color: #666;
  text-decoration: none; 
}
.social_list i {
  cursor: pointer;
}
.social_facebook:hover {
  color: #23527c;
}
.social_twitter:hover {
  color: #00ACED;
}
.social_linkedin:hover {
  color: #1384BB;
}
.social_youtube:hover {
  color: #BB0000;
}
.footer_bottom {
  margin: 0em 1em;
  display: grid;
  padding: 1.5em 0em .7em 0em;
  margin: 0em 2.5em;
}
.para {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  margin-bottom: .5em;
}
.bottom_para {
  margin-right: 1em;
}
.bottom_para a {
  text-decoration: none;
  color: #707070;
  font-size: 12px;
  cursor: pointer;
}
.bottom_para a:hover {
  color: #BB0000;
}
.copyright {
  grid-column: 1/3;
  grid-row: 2/3;
}
.copyright p {
  color: #9F9F9F;
  font-size: 12px;
}
.bottom_img {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
}
.bottom_img div {
  width: 50%;
}
.sponcer1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5em;
}

/* --------------responsiv--appp-----------responsiv--appp-----------------------responsiv--appp----------------------responsiv--appp-------------------------responsiv--appp--------------------- */

/* @media screen and (max-width: 2000px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
  .form {
    padding: 20px 10px;
  }
  .form_top {
    grid-template-rows: 1fr;
    gap: 1em;
  }
  .account {
    align-self: flex-end;
  }
} */
@media screen and (max-width: 1000px) {
  
  .aside img {
    border-bottom: 1px solid #e7ac07;
  }
  .middle_bottom {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: left;
  }
  .copyright {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .bottom_img {
    grid-column: 1/4;
    grid-row: 3/4;
    padding-top: .3em;
  }
  .sponcer1 {
    justify-content: flex-start;
  }
}
@media screen and (max-width:800px) {
  .section{
    width: 100%;
  }
  .aside{
    width: 100%;
  }
  .main{
   flex-direction: column;
  }
  .logo {
    padding: 1em 2em;
  }
  .nav_list_item {
    margin: 0em .5em;
  }
  .form {
    padding: 20px 10px 0px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form_top {
    gap: 1em;
  }
  .form_bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    gap: 0;
  }
  .form_bottom .label {
    margin: 20px 0px 0px;
  }
  .section_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .footer_top {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  .top {
    background: #000;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: .5em;
  }
  .top img {
    width: auto;
  }
  .middle_list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer_middle {
    margin: 0em 1.5em;
    padding: 1.5em 0em;
  }
  .middle_list {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .middle_bottom {
    grid-column: 1/4;
    grid-row: 2/4;
  }
  .social {
    display: flex;
    justify-content: left;
  }
  .social_list li {
    padding-left: 0px;
    padding-right: 1em;
  }
  .middle_bottom .bottom_heading {
   padding-right: 6.5em;
  }
  .para {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .footer_bottom {
    margin: 0em 1.5em;
  }
  .bottom_para {
    margin: 0;
    padding: 0px;
  }
  .tele {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .site {
    grid-column: 1/auto;
    grid-row: 3/4;
  }
  .disturb {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

/* -------------------------------------------////////////////////////////////////----------------------------------------////////////////////////////////// */
.sbi {
  display: flex;
  justify-content: center;
  align-content: center;
}
.sbi_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 530px;
  padding: 0em .5em;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  border: 1px solid #cacaca;
  margin-top: .7em; 
}
.sbi_card div {
  align-self: center;
}
.sbi_headind {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
.sbi_para {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.sbi_add {
  font-weight: bold;
}
.sbi_detail p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.sbi_method {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.sbi_method p {
  font-weight: bold;
}
.method_radio {
  align-self: baseline;
  margin-top: 1em;
}
.method_radio span {
  padding-left: 2px;
}
.sbi_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: .5em;
}
.sbi_btn {
  margin-left: 20em;
}
.sbi_btn button {
  padding: 1px 6px;
}

/* ----------------/---/-/-/--/-//-/-/--/-/---------------------------------------------------------------------------------- */

.wraper {
  width: 100%;
  background: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 480px;
  margin: 0 auto;
}
.box {
  font-family: 'Roboto', sans-serif;
  padding: 20px 20px 0px;
  margin: .8em 0em;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 18px;
}
.visa_logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}
.visa {
  align-self: center;
  justify-self: left;
    
}
.mas_card {
  align-self: center;
  justify-self: right;
}
.mas_card img {
  width: 113px;
}
.line {
  font-size: small;
  line-height: 1.6em;
  margin-top: .5em;
}
.line span {
  color: #cc3333;
  font-style: italic;
}
.card_form {
  margin-top: 1.5em;
}

.card_form form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card {
  justify-self: center;
  align-self: baseline;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: .7em;
}
.transaction_detail {
  margin-top: .8em;
}
.merchant_detail {
  margin-top: 1.35em;
}
.card_p {
  justify-self: right;
} 
.card label {
  justify-self: right;
  align-self: center;
}
.card input {
  justify-self: left;
  padding: 5px;
  margin: 3px 2px;
}
.card input:focus {
  border: 2px solid #000;
  border-radius: 2px;
}
.expire span {
  font-size: 1.2em;
}
.card .cvv_input {
  align-self: center;
  padding: 1px;
}
.card_btn {
  justify-self: center;
}
.submit_btn {
  padding: 5px 15px;
  border: none;
  background: #5e5e5e;
  color: #ffefd5;
  margin: 1em 0em 0em 3em;
}
.card_footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 3.5em;
}
@media screen and (min-width: 500) {
  .box {
    padding: 20px 5px 0px;
  }
  
}


/* -------------------------/////////////////////////////////////////////////-------------------------------- */

.fake_page {
  display: flex;
  justify-content: center;
  margin: 2em;
  width: 1200px;
}
.fake_box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  border: 1px solid #757575;
  text-transform: capitalize;
  font-size: .8em;
  font-family: Arial, Helvetica, sans-serif;
}
.fake_para {
  color: #666;
  font-weight: bold;
  padding: .5em;
}
.fake_list {
  margin: .5em;
  border-top: 1px solid #757575;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: small;
  word-spacing: 2px;
}
.list_item {
  list-style: none;
  padding: 0px;
  justify-self: left;
  align-self: end;
}
.list_item li {
  margin: 0em 0em .3em 1em;
  position: relative;
}
.list_item li::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #e7ac07;
  position: absolute;
  top: 5px;
  left: -14px;
}
.list_copy {
  justify-self: right;
  align-self: end;
}
.list_copy a {
  color: #146a70;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
}
.list_copy a p:hover {
  cursor: pointer;
  color: #e7ac07;
}
